<header>

</header>

<main>
  @if (filters.length >= 1) {
    <div id="filters">
      @for (filterTag of filters; track $index) {
        <div class="filterTag" (click)="removeTag(filterTag)">
          <p>{{filterTag}}</p>
          <div class="removeContainer">
            <img src="icon-remove.svg" alt="removeIcon">
          </div>
        </div>
      }
    </div>
  }
  

  <div id="jobsList">

    @for (x of temporaryArray; track $index) {
      <div class="list-item">
      

        <div class="logo-details">
          <img [src]="x.image" [alt]="x.name + ' logo'">
          <div class="details">
            <div class="name-status">
              <p class="name">{{x.name}}</p>
              @if (x.new) {
                <p class="new">NEW!</p>
              }
              @if (x.featured) {
                <p class="featured">FEATURED</p>
              }
            </div>
            <h1>{{x.title}}</h1>
            <div class="date-region">
              @for (y of x.regionAndDate; track $index) {
                <div class="date-region-item">
                  <p>{{y}}</p>
                  @if ($index != (x.regionAndDate!.length - 1)) {
                    <h2>.</h2>
                  }
                </div>
              }
              

            </div>
          </div>
        </div>
  
        <div class="tags">
          @for (y of x.tags; track $index) {
            <div class="tag" (click)="addTag(y)">{{y}}</div>
          }
        </div>
  
      </div>
    }
    
  </div>
</main>

<footer>
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
  Coded by <a href="#" target="_blank">Andreas Siachos</a>.
</footer>